@charset "UTF-8";

h1{
	color :#ee2319
}

.box {
	
	width :250px;
	height: 120px;
	margin-left : 10%;
	margin-top : 10%;
	text-align: center;
	font-family: Comic Sans MS ;
	border :2px solid #3f60da;
	background-color: #c9cacf;
	padding-top: 20px;
	
}
.box input[type ="text"], input[type ="password"]{
	
	width :150px;
	background-color:#050b27;
	color : white ;
	border:1px solid #066f06 ;
	border-radius: 20px;
}
.box input[type ="submit"] {
	width :80px;
	background-color: gray;
	color : white ;
	border:1px solid #066f06 ;
	border-radius: 20px;
	
	}
	.box input[type ="submit"]:hover{
	background-color: green; 
	}
	.box input[type ="submit"]:hover{
	
	width: 200px;
	
	}
	
	
	